# POS-tagging

In [ ]:
import nltk
from nltk import pos_tag
from nltk import RegexpParser

In [ ]:
import pandas as pd

In [ ]:
import csv

In [ ]:
data = pd.read_csv('/content/train.data.v1.txt', sep = '\t', header=None)

In [ ]:
data

In [ ]:
from pandas.core.groupby.groupby import DataFrame
df = data[1]

In [ ]:
df[:10]

0      moorhen swamphen
1         serinus genus
2     pegmatite igneous
3    bangalores torpedo
4           bonxie skua
5            ixia genus
6        leucaena genus
7         mahonia genus
8         attalea genus
9       fagaceae family
Name: 1, dtype: object

In [ ]:
type(df)

pandas.core.series.Series

In [ ]:
list_df = df.tolist()
list_df[:10]

['moorhen swamphen',
 'serinus genus',
 'pegmatite igneous',
 'bangalores torpedo',
 'bonxie skua',
 'ixia genus',
 'leucaena genus',
 'mahonia genus',
 'attalea genus',
 'fagaceae family']

In [ ]:
nltk.download('averaged_perceptron_tagger')

[nltk_data] Downloading package averaged_perceptron_tagger to
[nltk_data]     /root/nltk_data...
[nltk_data]   Package averaged_perceptron_tagger is already up-to-
[nltk_data]       date!

True

In [ ]:
tags_list = []

In [ ]:
for expression in list_df:
  exp = expression.split(',')
  for word in exp:
    tags = pos_tag((word).split(' '))
  tags_list.append(tags)

In [ ]:
tags_list[:20]

[[('moorhen', 'NN'), ('swamphen', 'NN')],
 [('serinus', 'NN'), ('genus', 'NN')],
 [('pegmatite', 'RB'), ('igneous', 'JJ')],
 [('bangalores', 'NNS'), ('torpedo', 'VBP')],
 [('bonxie', 'NN'), ('skua', 'NN')],
 [('ixia', 'NN'), ('genus', 'NN')],
 [('leucaena', 'NN'), ('genus', 'NN')],
 [('mahonia', 'NN'), ('genus', 'NN')],
 [('attalea', 'NN'), ('genus', 'NN')],
 [('fagaceae', 'NNS'), ('family', 'NN')],
 [('gangster', 'NN'), ('outlaw', 'NN')],
 [('upset', 'JJ'), ('success', 'NN')],
 [('brevicipitidae', 'NNS'), ('family', 'NN')],
 [('iridium', 'NN'), ('metal', 'NN')],
 [('breakdown', 'JJ'), ('failure', 'NN')],
 [('catharanthus', 'NNS'), ('genus', 'NN')],
 [('leucanthemum', 'JJ'), ('genus', 'NN')],
 [('biro', 'NN'), ('pen', 'NN')],
 [('maja', 'NN'), ('genus', 'NN')],
 [('boletellus', 'NN'), ('genus', 'NN')]]

## POS-tagging with CLTK

In [ ]:
!pip install cltk

In [ ]:
from cltk import NLP

In [ ]:
cltk_nlp = NLP(language="lat")

‚Äéê§Ä CLTK version '1.0.25'.
Pipeline for language 'Latin' (ISO: 'lat'): `LatinNormalizeProcess`, `LatinStanzaProcess`, `LatinEmbeddingsProcess`, `StopsProcess`, `LatinNERProcess`, `LatinLexiconProcess`.

In [ ]:
cltk_doc = cltk_nlp.analyze(text='leucanthemum genus')

In [ ]:
cltk_doc.tokens

['leucanthemum', 'genus']

In [ ]:
cltk_doc.pos

['VERB', 'NOUN']

In [ ]:
cltk_doc = cltk_nlp.analyze(text='pegmatite igneous')
cltk_doc.pos

['ADV', 'NOUN']

In [ ]:
cltk_doc = cltk_nlp.analyze(text='sjhfshg')
cltk_doc.pos

['NUM', 'PUNCT']

In [ ]:
import re

In [ ]:
latin_count = 0
non_alpha_count = 0

for doc in list_df:
  doc = doc.split()
  latin = False

  for word in doc:
    if not latin and (word.endswith('ae') or word.endswith('us') or \
    word.endswith('ie') or word.endswith('a') or word.endswith('is') or \
    word.endswith('es') or word.endswith('um') or word.endswith('en')):
      latin = True
      latin_count += 1
      
    elif re.match("[a-zA-Z'-]+", word) is None:
      non_alpha_count += 1
      print(word)
    
    
    # else:
    #   print(doc)
    #   break

    # if word.endswith('en'):
    #   print(word)
    #   break

print('Latin:', latin_count)
print('Non-alpha:', non_alpha_count)

In [ ]:
len(list_df)

12869

# Initial preprocessing
Read data

In [ ]:
import pandas as pd
import re

In [ ]:
df = pd.read_csv('/content/drive/MyDrive/UR/NLE Seminar/code/data/train.data.v1.txt', 
                 sep='\t', header=None,
                 names=['target_word', 'phrase'] + ['img_' + str(i) for i in range(10)])
df.head()

,target_word,phrase,img_0,img_1,img_2,img_3,img_4,img_5,img_6,img_7,img_8,img_9
0,moorhen,moorhen swamphen,image.3.jpg,image.8.jpg,image.4.jpg,image.1.jpg,image.2.jpg,image.0.jpg,image.5.jpg,image.6.jpg,image.7.jpg,image.9.jpg
1,serinus,serinus genus,image.3.jpg,image.23.jpg,image.4.jpg,image.1.jpg,image.2.jpg,image.20.jpg,image.5.jpg,image.24.jpg,image.22.jpg,image.21.jpg
2,pegmatite,pegmatite igneous,image.41.jpg,image.39.jpg,image.42.jpg,image.43.jpg,image.40.jpg,image.44.jpg,image.37.jpg,image.38.jpg,image.36.jpg,image.35.jpg
3,bangalores,bangalores torpedo,image.58.jpg,image.59.jpg,image.64.jpg,image.57.jpg,image.55.jpg,image.56.jpg,image.62.jpg,image.63.jpg,image.61.jpg,image.60.jpg
4,bonxie,bonxie skua,image.3.jpg,image.77.jpg,image.78.jpg,image.4.jpg,image.1.jpg,image.2.jpg,image.5.jpg,image.79.jpg,image.76.jpg,image.75.jpg

Tokenization: create target word and context word columns

In [ ]:
df.insert(2, 'tokens', df['phrase'].apply(lambda x: x.split()))
df.head()

,target_word,phrase,tokens,img_0,img_1,img_2,img_3,img_4,img_5,img_6,img_7,img_8,img_9
0,moorhen,moorhen swamphen,"[moorhen, swamphen]",image.3.jpg,image.8.jpg,image.4.jpg,image.1.jpg,image.2.jpg,image.0.jpg,image.5.jpg,image.6.jpg,image.7.jpg,image.9.jpg
1,serinus,serinus genus,"[serinus, genus]",image.3.jpg,image.23.jpg,image.4.jpg,image.1.jpg,image.2.jpg,image.20.jpg,image.5.jpg,image.24.jpg,image.22.jpg,image.21.jpg
2,pegmatite,pegmatite igneous,"[pegmatite, igneous]",image.41.jpg,image.39.jpg,image.42.jpg,image.43.jpg,image.40.jpg,image.44.jpg,image.37.jpg,image.38.jpg,image.36.jpg,image.35.jpg
3,bangalores,bangalores torpedo,"[bangalores, torpedo]",image.58.jpg,image.59.jpg,image.64.jpg,image.57.jpg,image.55.jpg,image.56.jpg,image.62.jpg,image.63.jpg,image.61.jpg,image.60.jpg
4,bonxie,bonxie skua,"[bonxie, skua]",image.3.jpg,image.77.jpg,image.78.jpg,image.4.jpg,image.1.jpg,image.2.jpg,image.5.jpg,image.79.jpg,image.76.jpg,image.75.jpg

Marking non-english phrases: column `non_eng` - True (1) or False (0)

In [ ]:
pattern = "[a-zA-Z'-‚Äú/]+"
df['non_eng'] = df['tokens'].apply(lambda x: 1 
                                   if re.match(pattern, x[0]) is None or
                                   re.match(pattern,  x[1]) is None
                                   else 0)
df['non_eng'].sum()

40

In [ ]:
non_english_phrases = df[df['non_eng'] == 1]['phrase'].to_list()
non_english_phrases

['üìΩ projector',
 'chamosite üúù',
 'magnetite üúù',
 'üèâ football',
 'üéÇ cake',
 'üúù ore',
 '\U0001f6fc skate',
 'üõ≥Ô∏è ship',
 'limonite üúù',
 'Á∑ëËå∂ tea',
 'ùÑµ 13/8',
 'Ë±ÜÊºø milk',
 'üó≥ box',
 'üñæ framework',
 'üñá clip',
 'üê´ camel',
 '„ÉÜ„ÉÉ„Éù„Ç¶„É¶„É™ lily',
 'üõç bag',
 'lepidocrocite üúù',
 'siderite üúù',
 'Á¥ÖË°õÂÖµ movement',
 'hematite üúù',
 'congou Á¥ÖËå∂',
 'üîé microscope',
 'üêÄ rat',
 'Êâ¨Â≠êÈ≥Ñ alligator',
 'Êó†‰∫ßÈò∂Á∫ßÊñáÂåñÂ§ßÈù©ÂëΩ revolution',
 'üßä cube',
 'ÎëêÎ¶Ö shrub',
 'üë∑ artisan',
 'üè§ arm',
 'ü¶â owl',
 'goethite üúù',
 'Á¥ÖËå∂ tea',
 'üñ∏ device',
 'üíà signal',
 'üé≠ humanities',
 'Áè≠Á¶ÖÈ¢ùÂ∞îÂæ∑Â∞º lama',
 'ÈäÄËÄ≥ fungus',
 'ü•á trophy']

# Handling emojis

Install a package to convert emojis to text

In [ ]:
! pip install emoji

In [ ]:
import emoji

Example

In [ ]:
emoji.demojize('üñá clip', delimiters=("", ""))

'linked_paperclips clip'

In [ ]:
non_eng_demojized = [emoji.demojize(p, delimiters=("", "")) for p in non_english_phrases]
non_eng_demojized

['film_projector projector',
 'chamosite üúù',
 'magnetite üúù',
 'rugby_football football',
 'birthday_cake cake',
 'üúù ore',
 'roller_skate skate',
 'passenger_ship ship',
 'limonite üúù',
 'Á∑ëËå∂ tea',
 'ùÑµ 13/8',
 'Ë±ÜÊºø milk',
 'ballot_box_with_ballot box',
 'üñæ framework',
 'linked_paperclips clip',
 'two-hump_camel camel',
 '„ÉÜ„ÉÉ„Éù„Ç¶„É¶„É™ lily',
 'shopping_bags bag',
 'lepidocrocite üúù',
 'siderite üúù',
 'Á¥ÖË°õÂÖµ movement',
 'hematite üúù',
 'congou Á¥ÖËå∂',
 'magnifying_glass_tilted_right microscope',
 'rat rat',
 'Êâ¨Â≠êÈ≥Ñ alligator',
 'Êó†‰∫ßÈò∂Á∫ßÊñáÂåñÂ§ßÈù©ÂëΩ revolution',
 'ice cube',
 'ÎëêÎ¶Ö shrub',
 'construction_worker artisan',
 'post_office arm',
 'owl owl',
 'goethite üúù',
 'Á¥ÖËå∂ tea',
 'üñ∏ device',
 'barber_pole signal',
 'performing_arts humanities',
 'Áè≠Á¶ÖÈ¢ùÂ∞îÂæ∑Â∞º lama',
 'ÈäÄËÄ≥ fungus',
 '1st_place_medal trophy']

Non-emoji specific symbols:
* üúù - alchemical symbol for Iron ore-2 
* ùÑµ - musical symbol for 'cut time'
* üñæ - frame with an X
* üñ∏ - optical disk icon

# Translating non-English phrases

In [ ]:
! pip install googletrans==4.0.0-rc1

In [ ]:
from googletrans import Translator
translator = Translator()

Example

In [ ]:
translator.translate('ÏïàÎÖïÌïòÏÑ∏Ïöî.').text

'hello.'

In [ ]:
translator.translate('ÏïàÎÖïÌïòÏÑ∏Ïöî. is this okay').text

'hello.is this OKAY'

# Preprocess with preprocessing function
--- handles emojis and non-English phrases and transforms them into English text

In [ ]:
def preprocess(row):
  tokens = row['tokens']
  if row['non_eng'] == 0:
    return tokens

  res = []
  for token in tokens:
    if re.match(pattern, token) is not None:
      res.append(token)
      continue
    
    if token == 'üúù':
      token_demojized = 'iron_ore'
    elif token == 'ùÑµ':
      token_demojized = 'cut_time'
    elif token == 'üñæ':
      token_demojized = 'frame_with_an_x'
    elif token == 'üñ∏':
      token_demojized = 'optical_disk'
    else:
      token_demojized = emoji.demojize(token, delimiters=("", ""))
    
    if re.match(pattern, token_demojized) is not None:
      res.append(token_demojized)
      continue
    
    token_translated = translator.translate(token).text
    if re.match(pattern, token_translated) is not None:
      res.append(token_translated)
      continue

    print(token)  # neither an emoji nor a non-English phrase 
    res.append(token)

  return res

In [ ]:
df.insert(3, 'tokens_preprocessed', df.apply(preprocess, axis=1))

In [ ]:
df[df['non_eng'] == 1]

,target_word,phrase,tokens,tokens_preprocessed,img_0,img_1,img_2,img_3,img_4,img_5,img_6,img_7,img_8,img_9,non_eng
215,üìΩ,üìΩ projector,"[üìΩ, projector]","[film_projector, projector]",image.3121.jpg,image.2883.jpg,image.2305.jpg,image.3122.jpg,image.3120.jpg,image.2885.jpg,image.3123.jpg,image.2884.jpg,image.2882.jpg,image.2881.jpg,1
1927,chamosite,chamosite üúù,"[chamosite, üúù]","[chamosite, iron_ore]",image.12192.jpg,image.7118.jpg,image.2053.jpg,image.123.jpg,image.2027.jpg,image.1435.jpg,image.224.jpg,image.9223.jpg,image.222.jpg,image.220.jpg,1
1995,magnetite,magnetite üúù,"[magnetite, üúù]","[magnetite, iron_ore]",image.13072.jpg,image.13073.jpg,image.13071.jpg,image.2580.jpg,image.9902.jpg,image.13068.jpg,image.224.jpg,image.222.jpg,image.3739.jpg,image.220.jpg,1
2231,üèâ,üèâ football,"[üèâ, football]","[rugby_football, football]",image.405.jpg,image.186.jpg,image.188.jpg,image.189.jpg,image.12349.jpg,image.1897.jpg,image.187.jpg,image.11762.jpg,image.4846.jpg,image.7804.jpg,1
2688,üéÇ,üéÇ cake,"[üéÇ, cake]","[birthday_cake, cake]",image.8706.jpg,image.4505.jpg,image.14204.jpg,image.8.jpg,image.436.jpg,image.2249.jpg,image.5616.jpg,image.437.jpg,image.434.jpg,image.433.jpg,1
3725,üúù,üúù ore,"[üúù, ore]","[iron_ore, ore]",image.5399.jpg,image.5158.jpg,image.361.jpg,image.3052.jpg,image.7828.jpg,image.224.jpg,image.1883.jpg,image.222.jpg,image.5883.jpg,image.220.jpg,1
4011,üõº,üõº skate,"[üõº, skate]","[roller_skate, skate]",image.186.jpg,image.8265.jpg,image.42.jpg,image.188.jpg,image.12852.jpg,image.189.jpg,image.187.jpg,image.9172.jpg,image.11625.jpg,image.10422.jpg,1
4160,üõ≥Ô∏è,üõ≥Ô∏è ship,"[üõ≥Ô∏è, ship]","[passenger_ship, ship]",image.8.jpg,image.58.jpg,image.59.jpg,image.8574.jpg,image.2065.jpg,image.57.jpg,image.11081.jpg,image.56.jpg,image.60.jpg,image.7313.jpg,1
4513,limonite,limonite üúù,"[limonite, üúù]","[limonite, iron_ore]",image.39.jpg,image.7462.jpg,image.5505.jpg,image.40.jpg,image.4269.jpg,image.37.jpg,image.7504.jpg,image.38.jpg,image.36.jpg,image.7155.jpg,1
4808,Á∑ëËå∂,Á∑ëËå∂ tea,"[Á∑ëËå∂, tea]","[Green Tea , tea]",image.436.jpg,image.13936.jpg,image.11824.jpg,image.2412.jpg,image.600.jpg,image.437.jpg,image.3792.jpg,image.434.jpg,image.5447.jpg,image.433.jpg,1
5104,ùÑµ,ùÑµ 13/8,"[ùÑµ, 13/8]","[cut_time, 13/8]",image.11219.jpg,image.15367.jpg,image.4469.jpg,image.12603.jpg,image.4468.jpg,image.13075.jpg,image.4395.jpg,image.4472.jpg,image.4470.jpg,image.4471.jpg,1
5110,Ë±ÜÊºø,Ë±ÜÊºø milk,"[Ë±ÜÊºø, milk]","[Soy milk, milk]",image.3998.jpg,image.436.jpg,image.6901.jpg,image.2532.jpg,image.12098.jpg,image.3052.jpg,image.437.jpg,image.434.jpg,image.9232.jpg,image.433.jpg,1
5455,üó≥,üó≥ box,"[üó≥, box]","[ballot_box_with_ballot, box]",image.928.jpg,image.10597.jpg,image.11323.jpg,image.10560.jpg,image.930.jpg,image.7523.jpg,image.931.jpg,image.3850.jpg,image.5533.jpg,image.929.jpg,1
5985,üñæ,üñæ framework,"[üñæ, framework]","[frame_with_an_x, framework]",image.723.jpg,image.7712.jpg,image.8688.jpg,image.2968.jpg,image.3094.jpg,image.726.jpg,image.722.jpg,image.10542.jpg,image.724.jpg,image.725.jpg,1
6711,üñá,üñá clip,"[üñá, clip]","[linked_paperclips, clip]",image.293.jpg,image.9482.jpg,image.292.jpg,image.294.jpg,image.7427.jpg,image.290.jpg,image.291.jpg,image.13405.jpg,image.762.jpg,image.9101.jpg,1
7003,üê´,üê´ camel,"[üê´, camel]","[two-hump_camel, camel]",image.11893.jpg,image.3.jpg,image.5320.jpg,image.2799.jpg,image.7848.jpg,image.4.jpg,image.1.jpg,image.2.jpg,image.12667.jpg,image.5.jpg,1
7138,„ÉÜ„ÉÉ„Éù„Ç¶„É¶„É™,„ÉÜ„ÉÉ„Éù„Ç¶„É¶„É™ lily,"[„ÉÜ„ÉÉ„Éù„Ç¶„É¶„É™, lily]","[Teppou lily, lily]",image.3.jpg,image.122.jpg,image.4.jpg,image.1.jpg,image.2.jpg,image.900.jpg,image.5.jpg,image.9071.jpg,image.4486.jpg,image.1192.jpg,1
7454,üõç,üõç bag,"[üõç, bag]","[shopping_bags, bag]",image.1701.jpg,image.10506.jpg,image.1700.jpg,image.1702.jpg,image.2872.jpg,image.3213.jpg,image.1699.jpg,image.9286.jpg,image.6356.jpg,image.1698.jpg,1
7756,lepidocrocite,lepidocrocite üúù,"[lepidocrocite, üúù]","[lepidocrocite, iron_ore]",image.2966.jpg,image.12797.jpg,image.7748.jpg,image.1146.jpg,image.6799.jpg,image.12127.jpg,image.224.jpg,image.8444.jpg,image.222.jpg,image.220.jpg,1
7805,siderite,siderite üúù,"[siderite, üúù]","[siderite, iron_ore]",image.315.jpg,image.6339.jpg,image.2202.jpg,image.13320.jpg,image.2800.jpg,image.224.jpg,image.13343.jpg,image.12843.jpg,image.222.jpg,image.220.jpg,1
7994,Á¥ÖË°õÂÖµ,Á¥ÖË°õÂÖµ movement,"[Á¥ÖË°õÂÖµ, movement]","[Red guard, movement]",image.6039.jpg,image.928.jpg,image.14320.jpg,image.930.jpg,image.11546.jpg,image.931.jpg,image.929.jpg,image.5138.jpg,image.9800.jpg,image.1207.jpg,1
8034,hematite,hematite üúù,"[hematite, üúù]","[hematite, iron_ore]",image.12616.jpg,image.8299.jpg,image.13668.jpg,image.6705.jpg,image.11706.jpg,image.13446.jpg,image.3341.jpg,image.224.jpg,image.222.jpg,image.220.jpg,1
8696,congou,congou Á¥ÖËå∂,"[congou, Á¥ÖËå∂]","[congou, Black tea]",image.14624.jpg,image.436.jpg,image.12046.jpg,image.6753.jpg,image.2953.jpg,image.11373.jpg,image.1823.jpg,image.437.jpg,image.434.jpg,image.433.jpg,1
8734,üîé,üîé microscope,"[üîé, microscope]","[magnifying_glass_tilted_right, microscope]",image.293.jpg,image.5746.jpg,image.9635.jpg,image.292.jpg,image.294.jpg,image.10136.jpg,image.290.jpg,image.3671.jpg,image.291.jpg,image.13222.jpg,1
8776,üêÄ,üêÄ rat,"[üêÄ, rat]","[rat, rat]",image.3.jpg,image.7910.jpg,image.4.jpg,image.1.jpg,image.2.jpg,image.10720.jpg,image.5.jpg,image.2922.jpg,image.2710.jpg,image.10859.jpg,1
8933,Êâ¨Â≠êÈ≥Ñ,Êâ¨Â≠êÈ≥Ñ alligator,"[Êâ¨Â≠êÈ≥Ñ, alligator]","[Crocodile, alligator]",image.3.jpg,image.11969.jpg,image.4.jpg,image.2424.jpg,image.1.jpg,image.2.jpg,image.9942.jpg,image.5.jpg,image.2217.jpg,image.4720.jpg,1
10240,Êó†‰∫ßÈò∂Á∫ßÊñáÂåñÂ§ßÈù©ÂëΩ,Êó†‰∫ßÈò∂Á∫ßÊñáÂåñÂ§ßÈù©ÂëΩ revolution,"[Êó†‰∫ßÈò∂Á∫ßÊñáÂåñÂ§ßÈù©ÂëΩ, revolution]",[Grand Revolution of Proletarian Cultural Revo...,image.928.jpg,image.7675.jpg,image.1992.jpg,image.930.jpg,image.13081.jpg,image.10240.jpg,image.931.jpg,image.10942.jpg,image.929.jpg,image.3753.jpg,1
10495,üßä,üßä cube,"[üßä, cube]","[ice, cube]",image.12774.jpg,image.1600.jpg,image.13802.jpg,image.7887.jpg,image.479.jpg,image.9746.jpg,image.224.jpg,image.222.jpg,image.220.jpg,image.11301.jpg,1
10842,ÎëêÎ¶Ö,ÎëêÎ¶Ö shrub,"[ÎëêÎ¶Ö, shrub]","[Row, shrub]",image.3.jpg,image.4.jpg,image.1.jpg,image.2.jpg,image.2757.jpg,image.8044.jpg,image.3544.jpg,image.5.jpg,image.1687.jpg,image.5472.jpg,1
11057,üë∑,üë∑ artisan,"[üë∑, artisan]","[construction_worker, artisan]",image.723.jpg,image.11245.jpg,image.1225.jpg,image.7120.jpg,image.726.jpg,image.4894.jpg,image.6833.jpg,image.722.jpg,image.724.jpg,image.725.jpg,1
11168,üè§,üè§ arm,"[üè§, arm]","[post_office, arm]",image.10237.jpg,image.7065.jpg,image.11541.jpg,image.600.jpg,image.8399.jpg,image.11542.jpg,image.13194.jpg,image.11591.jpg,image.12699.jpg,image.2578.jpg,1
11321,ü¶â,ü¶â owl,"[ü¶â, owl]","[owl, owl]",image.3.jpg,image.14407.jpg,image.4157.jpg,image.11179.jpg,image.4.jpg,image.1.jpg,image.2.jpg,image.1610.jpg,image.5.jpg,image.2356.jpg,1
11652,goethite,goethite üúù,"[goethite, üúù]","[goethite, iron_ore]",image.11639.jpg,image.14386.jpg,image.5252.jpg,image.7440.jpg,image.11187.jpg,image.3377.jpg,image.224.jpg,image.302.jpg,image.222.jpg,image.220.jpg,1
11843,Á¥ÖËå∂,Á¥ÖËå∂ tea,"[Á¥ÖËå∂, tea]","[Black tea, tea]",image.9935.jpg,image.346.jpg,image.436.jpg,image.10955.jpg,image.437.jpg,image.434.jpg,image.6220.jpg,image.4087.jpg,image.473.jpg,image.433.jpg,1
11932,üñ∏,üñ∏ device,"[üñ∏, device]","[optical_disk, device]",image.1654.jpg,image.1653.jpg,image.7357.jpg,image.3660.jpg,image.1650.jpg,image.13081.jpg,image.8662.jpg,image.7099.jpg,image.8896.jpg,image.11591.jpg,1
12122,üíà,üíà signal,"[üíà, signal]","[barber_pole, signal]",image.293.jpg,image.14330.jpg,image.292.jpg,image.6717.jpg,image.6109.jpg,image.294.jpg,image.290.jpg,image.291.jpg,image.7527.jpg,image.5310.jpg,1
12145,üé≠,üé≠ humanities,"[üé≠, humanities]","[performing_arts, humanities]",image.4469.jpg,image.12538.jpg,image.4468.jpg,image.11125.jpg,image.12176.jpg,image.11284.jpg,image.601.jpg,image.4472.jpg,image.4470.jpg,image.4471.jpg,1
12545,Áè≠Á¶ÖÈ¢ùÂ∞îÂæ∑Â∞º,Áè≠Á¶ÖÈ¢ùÂ∞îÂæ∑Â∞º lama,"[Áè≠Á¶ÖÈ¢ùÂ∞îÂæ∑Â∞º, lama]","[Panchen Erdene, lama]",image.5083.jpg,image.3046.jpg,image.4041.jpg,image.9231.jpg,image.895.jpg,image.15022.jpg,image.894.jpg,image.407.jpg,image.897.jpg,image.898.jpg,1
12591,ÈäÄËÄ≥,ÈäÄËÄ≥ fungus,"[ÈäÄËÄ≥, fungus]","[Tremella, fungus]",image.3.jpg,image.4998.jpg,image.3810.jpg,image.4.jpg,image.5041.jpg,image.1.jpg,image.2.jpg,image.10324.jpg,image.5.jpg,image.5541.jpg,1
12754,ü•á,ü•á trophy,"[ü•á, trophy]","[1st_place_medal, trophy]",image.10574.jpg,image.12521.jpg,image.186.jpg,image.188.jpg,image.189.jpg,image.2465.jpg,image.4887.jpg,image.187.jpg,image.6920.jpg,image.7035.jpg,1

# Extract target and context

Create columns 
* `target_preprocessed` - preprocessed target word / phrase
* `context_preprocessed` - preprocessed context word / phrase

In [ ]:
df.insert(4, 'target_preprocessed', df['tokens_preprocessed'].apply(
    lambda x: re.sub('_', ' ', x[0])
))
df.insert(5, 'context_preprocessed', df['tokens_preprocessed'].apply(
    lambda x: re.sub('_', ' ', x[1])
))
df.head()

,target_word,phrase,tokens,tokens_preprocessed,target_preprocessed,context_preprocessed,img_0,img_1,img_2,img_3,img_4,img_5,img_6,img_7,img_8,img_9,non_eng
0,moorhen,moorhen swamphen,"[moorhen, swamphen]","[moorhen, swamphen]",moorhen,swamphen,image.3.jpg,image.8.jpg,image.4.jpg,image.1.jpg,image.2.jpg,image.0.jpg,image.5.jpg,image.6.jpg,image.7.jpg,image.9.jpg,0
1,serinus,serinus genus,"[serinus, genus]","[serinus, genus]",serinus,genus,image.3.jpg,image.23.jpg,image.4.jpg,image.1.jpg,image.2.jpg,image.20.jpg,image.5.jpg,image.24.jpg,image.22.jpg,image.21.jpg,0
2,pegmatite,pegmatite igneous,"[pegmatite, igneous]","[pegmatite, igneous]",pegmatite,igneous,image.41.jpg,image.39.jpg,image.42.jpg,image.43.jpg,image.40.jpg,image.44.jpg,image.37.jpg,image.38.jpg,image.36.jpg,image.35.jpg,0
3,bangalores,bangalores torpedo,"[bangalores, torpedo]","[bangalores, torpedo]",bangalores,torpedo,image.58.jpg,image.59.jpg,image.64.jpg,image.57.jpg,image.55.jpg,image.56.jpg,image.62.jpg,image.63.jpg,image.61.jpg,image.60.jpg,0
4,bonxie,bonxie skua,"[bonxie, skua]","[bonxie, skua]",bonxie,skua,image.3.jpg,image.77.jpg,image.78.jpg,image.4.jpg,image.1.jpg,image.2.jpg,image.5.jpg,image.79.jpg,image.76.jpg,image.75.jpg,0

Save dataframe to file

In [ ]:
df.drop(['tokens', 'tokens_preprocessed'], axis=1).to_csv('train_df.csv', sep='\t')

# Same for trial data

In [ ]:
df = pd.read_csv('/content/drive/MyDrive/UR/NLE Seminar/code/data/trial.data.v1.txt', 
                 sep='\t', header=None,
                 names=['target_word', 'phrase'] + ['img_' + str(i) for i in range(10)])
df.insert(2, 'tokens', df['phrase'].apply(lambda x: x.split()))
df.head()

,target_word,phrase,tokens,img_0,img_1,img_2,img_3,img_4,img_5,img_6,img_7,img_8,img_9
0,andromeda,andromeda tree,"[andromeda, tree]",image.155.jpg,image.68.jpg,image.9.jpg,image.72.jpg,image.158.jpg,image.86.jpg,image.7.jpg,image.132.jpg,image.36.jpg,image.27.jpg
1,angora,angora city,"[angora, city]",image.5.jpg,image.52.jpg,image.96.jpg,image.70.jpg,image.46.jpg,image.91.jpg,image.76.jpg,image.139.jpg,image.14.jpg,image.115.jpg
2,anteater,marsupial anteater,"[marsupial, anteater]",image.147.jpg,image.16.jpg,image.107.jpg,image.135.jpg,image.93.jpg,image.59.jpg,image.88.png,image.131.jpg,image.89.jpg,image.121.jpg
3,bank,bank erosion,"[bank, erosion]",image.104.jpg,image.64.jpg,image.108.jpg,image.80.jpg,image.21.jpg,image.99.jpg,image.117.jpg,image.146.jpg,image.87.jpg,image.34.jpg
4,router,internet router,"[internet, router]",image.127.jpg,image.0.jpg,image.20.jpg,image.18.jpg,image.112.jpg,image.97.jpg,image.24.jpg,image.1.jpg,image.56.jpg,image.26.jpg

In [ ]:
df.shape

(16, 13)

Marking non-english phrases: column `non_eng` - True (1) or False (0)

In [ ]:
pattern = "[a-zA-Z'-‚Äú/]+"
df['non_eng'] = df['tokens'].apply(lambda x: 1 
                                   if re.match(pattern, x[0]) is None or
                                   re.match(pattern,  x[1]) is None
                                   else 0)
df['non_eng'].sum()

0

There're no specific symbols in the test data so we will just extract target and context

In [ ]:
df.insert(2, 'target_preprocessed', df['tokens'].apply(
    lambda x: x[0]
))
df.insert(3, 'context_preprocessed', df['tokens'].apply(
    lambda x: x[1]
))
df = df.drop('tokens', axis=1)
df.head()

,target_word,phrase,target_preprocessed,context_preprocessed,img_0,img_1,img_2,img_3,img_4,img_5,img_6,img_7,img_8,img_9,non_eng
0,andromeda,andromeda tree,andromeda,tree,image.155.jpg,image.68.jpg,image.9.jpg,image.72.jpg,image.158.jpg,image.86.jpg,image.7.jpg,image.132.jpg,image.36.jpg,image.27.jpg,0
1,angora,angora city,angora,city,image.5.jpg,image.52.jpg,image.96.jpg,image.70.jpg,image.46.jpg,image.91.jpg,image.76.jpg,image.139.jpg,image.14.jpg,image.115.jpg,0
2,anteater,marsupial anteater,marsupial,anteater,image.147.jpg,image.16.jpg,image.107.jpg,image.135.jpg,image.93.jpg,image.59.jpg,image.88.png,image.131.jpg,image.89.jpg,image.121.jpg,0
3,bank,bank erosion,bank,erosion,image.104.jpg,image.64.jpg,image.108.jpg,image.80.jpg,image.21.jpg,image.99.jpg,image.117.jpg,image.146.jpg,image.87.jpg,image.34.jpg,0
4,router,internet router,internet,router,image.127.jpg,image.0.jpg,image.20.jpg,image.18.jpg,image.112.jpg,image.97.jpg,image.24.jpg,image.1.jpg,image.56.jpg,image.26.jpg,0

In [ ]:
df.to_csv('test_df.csv', sep='\t')

# Same for test data

## English

In [ ]:
df = pd.read_csv('/content/drive/MyDrive/UR/NLE Seminar/code/data/test.data/en.test.data.txt', 
                      sep='\t', header=None,
                      names=['target_word', 'phrase'] + ['img_' + str(i) for i in range(10)])
df.shape

(463, 12)

In [ ]:
df.iloc[28]['phrase'] = 'bag personal'

In [ ]:
df.insert(2, 'tokens', df['phrase'].apply(lambda x: x.split()))

In [ ]:
df.head()

,target_word,phrase,tokens,img_0,img_1,img_2,img_3,img_4,img_5,img_6,img_7,img_8,img_9
0,goal,football goal,"[football, goal]",image.4418.jpg,image.4416.jpg,image.4417.jpg,image.4413.jpg,image.4412.jpg,image.4415.jpg,image.4419.jpg,image.4414.jpg,image.2166.jpg,image.1150.jpg
1,mustard,mustard seed,"[mustard, seed]",image.4429.png,image.4422.jpg,image.4423.jpg,image.4424.jpg,image.4421.jpg,image.4427.jpg,image.4426.jpg,image.4420.jpg,image.4425.jpg,image.4428.jpg
2,seat,eating seat,"[eating, seat]",image.4435.jpg,image.4436.jpg,image.1166.jpg,image.4430.jpg,image.4433.jpg,image.4432.jpg,image.4438.jpg,image.4434.jpg,image.4431.jpg,image.4437.jpg
3,navigate,navigate the web,"[navigate, the, web]",image.4439.jpg,image.4440.jpg,image.4441.jpg,image.4442.jpg,image.4444.jpg,image.4445.jpg,image.1435.jpg,image.4446.png,image.1434.jpg,image.4443.jpg
4,butterball,butterball person,"[butterball, person]",image.4454.jpg,image.4450.jpg,image.4455.jpg,image.4453.jpg,image.4448.jpg,image.1253.jpg,image.4451.jpg,image.4452.jpg,image.4447.jpg,image.4449.jpg

In [ ]:
df[df['tokens'].str.len() > 2]

,target_word,phrase,tokens,img_0,img_1,img_2,img_3,img_4,img_5,img_6,img_7,img_8,img_9
3,navigate,navigate the web,"[navigate, the, web]",image.4439.jpg,image.4440.jpg,image.4441.jpg,image.4442.jpg,image.4444.jpg,image.4445.jpg,image.1435.jpg,image.4446.png,image.1434.jpg,image.4443.jpg
111,frame,frame of a painting,"[frame, of, a, painting]",image.5410.jpg,image.5414.jpg,image.5409.jpg,image.5411.jpg,image.5408.jpg,image.5406.jpg,image.5407.jpg,image.5412.jpg,image.5413.jpg,image.5415.jpg
112,neptune,milky way neptune,"[milky, way, neptune]",image.5423.jpg,image.5419.jpg,image.4502.jpg,image.5418.jpg,image.5417.jpg,image.5422.jpg,image.5424.jpg,image.5416.jpg,image.5421.jpg,image.5420.jpg
147,navigate,navigate the sea,"[navigate, the, sea]",image.5711.jpg,image.5712.jpg,image.5714.jpg,image.5718.jpg,image.5709.jpg,image.5710.jpg,image.5715.jpg,image.5717.jpg,image.5716.jpg,image.5713.jpg
155,dummy,dummy for baby,"[dummy, for, baby]",image.5779.jpg,image.3503.jpg,image.5772.jpg,image.5778.jpg,image.5777.jpg,image.5775.jpg,image.5776.jpg,image.5244.jpg,image.5773.jpg,image.5774.jpg
183,folder,folder for papers,"[folder, for, papers]",image.5999.jpg,image.6000.jpg,image.6004.jpg,image.1772.jpg,image.6002.jpg,image.5997.jpg,image.5998.jpg,image.6001.jpg,image.6003.jpg,image.5996.jpg
217,flyover,flyover air force,"[flyover, air, force]",image.6279.jpg,image.6273.jpg,image.6271.jpg,image.6274.jpg,image.6272.jpg,image.6275.jpg,image.6277.jpg,image.6278.jpg,image.6276.jpg,image.6270.jpg
230,flyover,flyover with cars,"[flyover, with, cars]",image.6366.jpg,image.6368.jpg,image.6365.jpg,image.172.jpg,image.6367.jpg,image.6370.jpg,image.6369.jpg,image.6371.jpg,image.6372.jpg,image.6364.jpg
236,flip,flip a coin,"[flip, a, coin]",image.6421.jpg,image.6418.jpg,image.6422.jpg,image.6419.jpg,image.6425.jpg,image.6420.jpg,image.6423.jpg,image.6424.jpg,image.6426.jpg,image.6427.jpg
276,watch,watch a movie,"[watch, a, movie]",image.6758.jpg,image.6754.jpg,image.6759.jpg,image.6757.jpg,image.6755.jpg,image.5247.jpg,image.6753.png,image.5245.jpg,image.6756.jpg,image.2767.jpg
335,force,force in baseball,"[force, in, baseball]",image.7184.jpg,image.7185.png,image.7183.jpg,image.7181.jpg,image.7182.jpg,image.7190.jpg,image.7188.jpg,image.7187.jpg,image.7189.jpg,image.7186.jpg
340,stool,living room stool,"[living, room, stool]",image.7215.jpg,image.7212.jpg,image.723.jpg,image.7210.jpg,image.7211.jpg,image.7213.jpg,image.7217.jpg,image.7214.jpg,image.7216.jpg,image.2230.jpg
364,speed,street corner speed,"[street, corner, speed]",image.7380.jpg,image.7383.jpg,image.4035.jpg,image.7378.jpg,image.7379.jpg,image.7382.jpg,image.3726.jpg,image.5821.jpg,image.5670.jpg,image.7381.jpg
379,mortar,mortar for shooting,"[mortar, for, shooting]",image.7490.jpg,image.7489.jpg,image.5194.jpg,image.7488.jpeg,image.7484.jpg,image.7491.jpg,image.5255.jpg,image.7487.jpg,image.7485.jpg,image.7486.jpg
393,flat,lie down flat,"[lie, down, flat]",image.7588.JPG,image.7592.jpg,image.7590.jpg,image.7593.jpg,image.7596.jpg,image.5365.jpg,image.7594.jpg,image.7591.jpg,image.7589.jpg,image.7595.jpg
411,lumber,lumber stacking up,"[lumber, stacking, up]",image.7726.jpg,image.7728.jpg,image.7727.jpg,image.7731.jpg,image.7730.jpg,image.7732.jpg,image.1020.jpg,image.7725.jpg,image.5807.jpg,image.7729.jpg
421,mate,mate in chess,"[mate, in, chess]",image.7810.jpg,image.7804.jpg,image.7806.jpg,image.7807.jpg,image.7808.jpg,image.7809.jpg,image.7803.jpg,image.7801.jpg,image.7802.jpg,image.7805.jpg
455,milk,glass of milk,"[glass, of, milk]",image.8048.jpg,image.8043.jpg,image.8047.png,image.3854.jpg,image.8045.jpg,image.4871.jpg,image.688.jpg,image.8046.jpg,image.8049.jpg,image.8044.jpg

Marking non-english phrases: column `non_eng` - True (1) or False (0)

In [ ]:
pattern = "[a-zA-Z'-‚Äú/]+"
df['non_eng'] = df['tokens'].apply(lambda x: 1 
                                   if sum([re.match(pattern, v) is None for v in x]) 
                                   else 0)
df['non_eng'].sum()

0

There're no specific symbols in the test data so we will just extract target and context

In [ ]:
df.insert(2, 'target_preprocessed', df['tokens'].apply(
    lambda x: x[0]
))
df.insert(3, 'context_preprocessed', df['tokens'].apply(
    lambda x: ' '.join(x[1:])
))
df = df.drop('tokens', axis=1)
df.head()

,target_word,phrase,target_preprocessed,context_preprocessed,img_0,img_1,img_2,img_3,img_4,img_5,img_6,img_7,img_8,img_9,non_eng
0,goal,football goal,football,goal,image.4418.jpg,image.4416.jpg,image.4417.jpg,image.4413.jpg,image.4412.jpg,image.4415.jpg,image.4419.jpg,image.4414.jpg,image.2166.jpg,image.1150.jpg,0
1,mustard,mustard seed,mustard,seed,image.4429.png,image.4422.jpg,image.4423.jpg,image.4424.jpg,image.4421.jpg,image.4427.jpg,image.4426.jpg,image.4420.jpg,image.4425.jpg,image.4428.jpg,0
2,seat,eating seat,eating,seat,image.4435.jpg,image.4436.jpg,image.1166.jpg,image.4430.jpg,image.4433.jpg,image.4432.jpg,image.4438.jpg,image.4434.jpg,image.4431.jpg,image.4437.jpg,0
3,navigate,navigate the web,navigate,the web,image.4439.jpg,image.4440.jpg,image.4441.jpg,image.4442.jpg,image.4444.jpg,image.4445.jpg,image.1435.jpg,image.4446.png,image.1434.jpg,image.4443.jpg,0
4,butterball,butterball person,butterball,person,image.4454.jpg,image.4450.jpg,image.4455.jpg,image.4453.jpg,image.4448.jpg,image.1253.jpg,image.4451.jpg,image.4452.jpg,image.4447.jpg,image.4449.jpg,0

In [ ]:
df.to_csv('test_df_english.csv', sep='\t')

## Farsi

Read data

In [ ]:
df = pd.read_csv('/content/drive/MyDrive/UR/NLE Seminar/code/data/test.data/fa.test.data.txt', 
                 sep='\t', header=None,
                 names=['target_word', 'phrase'] + ['img_' + str(i) for i in range(10)])
df.head()

,target_word,phrase,img_0,img_1,img_2,img_3,img_4,img_5,img_6,img_7,img_8,img_9
0,ÿ®ÿ±ŸÜÿ¨‚Äé,ŸÅŸÑÿ≤ ÿ®ÿ±ŸÜÿ¨,image.2732.jpg,image.2734.jpg,image.2727.jpg,image.2731.jpg,image.2735.jpg,image.2726.jpg,image.2729.jpg,image.2733.jpg,image.2730.jpg,image.2728.jpg
1,ŸÖŸÑÿÆ,ŸÖŸÑÿÆ ÿ®ÿßÿØ€å,image.2743.jpg,image.2741.jpg,image.2740.jpg,image.921.jpg,image.2736.jpg,image.2744.jpg,image.2737.png,image.2742.jpg,image.2738.jpg,image.2739.jpg
2,ÿ¥ÿßŸÖ,ÿ≥ÿ±ÿ≤ŸÖ€åŸÜ ÿ¥ÿßŸÖ,image.2747.jpg,image.2749.jpg,image.2745.jpg,image.2753.jpg,image.2748.jpg,image.2754.jpg,image.2751.png,image.2746.jpg,image.2750.jpg,image.2752.jpg
3,ÿπÿØÿ≥€å,ÿπÿØÿ≥€å ŸÜŸàÿ±,image.2761.jpg,image.2300.jpg,image.2758.jpg,image.2762.jpg,image.2760.jpg,image.2756.jpg,image.2759.jpg,image.2755.jpg,image.2757.jpg,image.95.jpg
4,ÿ™ŸàŸæ,ÿ™ŸàŸæ ŸÜÿ∏ÿßŸÖ€å,image.2769.jpg,image.2766.jpg,image.2765.jpg,image.2763.jpg,image.2764.jpg,image.2770.jpg,image.2772.jpg,image.2767.jpg,image.2768.jpg,image.2771.png

In [ ]:
df.shape

(200, 12)

Translate phrases and target words

In [ ]:
translator.translate('ÿ®ÿ±ŸÜÿ¨').text

'Rice'

In [ ]:
import numpy as np
import time

In [ ]:
def translate(s):
  try:
    time.sleep(1.5)
    return translator.translate(s).text
  except:
    print(s, '--- error')
    return np.nan

In [ ]:
from tqdm import tqdm
tqdm.pandas()

In [ ]:
# df['target_eng'] = df['target_word'].progress_apply(translate)
# df['phrase_eng'] = df['phrase'].progress_apply(translate)
df['phrase_eng'] = df.progress_apply(lambda row: 
                            translate(row['phrase']) if pd.isna(row['phrase_eng'])
                            else row['phrase_eng'],
                            axis=1)

100%|‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà| 200/200 [00:01<00:00, 128.09it/s]

In [ ]:
df.head()

,target_word,phrase,img_0,img_1,img_2,img_3,img_4,img_5,img_6,img_7,img_8,img_9,target_eng,phrase_eng
0,ÿ®ÿ±ŸÜÿ¨‚Äé,ŸÅŸÑÿ≤ ÿ®ÿ±ŸÜÿ¨,image.2732.jpg,image.2734.jpg,image.2727.jpg,image.2731.jpg,image.2735.jpg,image.2726.jpg,image.2729.jpg,image.2733.jpg,image.2730.jpg,image.2728.jpg,Rice,brass
1,ŸÖŸÑÿÆ,ŸÖŸÑÿÆ ÿ®ÿßÿØ€å,image.2743.jpg,image.2741.jpg,image.2740.jpg,image.921.jpg,image.2736.jpg,image.2744.jpg,image.2737.png,image.2742.jpg,image.2738.jpg,image.2739.jpg,Grasshopper,Wind locust
2,ÿ¥ÿßŸÖ,ÿ≥ÿ±ÿ≤ŸÖ€åŸÜ ÿ¥ÿßŸÖ,image.2747.jpg,image.2749.jpg,image.2745.jpg,image.2753.jpg,image.2748.jpg,image.2754.jpg,image.2751.png,image.2746.jpg,image.2750.jpg,image.2752.jpg,the evening,The land of the evening
3,ÿπÿØÿ≥€å,ÿπÿØÿ≥€å ŸÜŸàÿ±,image.2761.jpg,image.2300.jpg,image.2758.jpg,image.2762.jpg,image.2760.jpg,image.2756.jpg,image.2759.jpg,image.2755.jpg,image.2757.jpg,image.95.jpg,Lenses,Light lens
4,ÿ™ŸàŸæ,ÿ™ŸàŸæ ŸÜÿ∏ÿßŸÖ€å,image.2769.jpg,image.2766.jpg,image.2765.jpg,image.2763.jpg,image.2764.jpg,image.2770.jpg,image.2772.jpg,image.2767.jpg,image.2768.jpg,image.2771.png,Ball,Military ball

In [ ]:
df[df['phrase_eng'].isna()]

Empty DataFrame
Columns: [target_word, phrase, img_0, img_1, img_2, img_3, img_4, img_5, img_6, img_7, img_8, img_9, target_eng, phrase_eng]
Index: []

In [ ]:
df.to_csv('test_fa_translated.csv')

## Italian

Read data

In [ ]:
df = pd.read_csv('/content/drive/MyDrive/UR/NLE Seminar/code/data/test.data/it.test.data.txt', 
                 sep='\t', header=None,
                 names=['target_word', 'phrase'] + ['img_' + str(i) for i in range(10)])
df.head()

,target_word,phrase,img_0,img_1,img_2,img_3,img_4,img_5,img_6,img_7,img_8,img_9
0,gomma,gomma per smacchiare,image.3.jpg,image.7.jpg,image.8.jpg,image.1.jpg,image.9.jpg,image.5.jpg,image.6.jpg,image.4.jpg,image.0.jpg,image.2.jpg
1,asino,asino gioco di carte,image.18.jpg,image.17.jpg,image.11.jpg,image.10.jpg,image.15.jpg,image.16.png,image.14.jpg,image.12.jpg,image.13.jpg,image.19.jpg
2,colonna,colonna missione,image.22.jpg,image.24.jpg,image.28.jpg,image.27.jpg,image.25.jpg,image.26.jpg,image.20.jpg,image.21.jpg,image.23.jpg,image.29.jpg
3,box,box per infanti,image.33.jpg,image.32.jpg,image.37.jpg,image.38.jpg,image.35.jpg,image.34.jpg,image.31.jpg,image.39.jpg,image.30.jpg,image.36.jpg
4,bolla,bolla di misurazione,image.48.jpg,image.44.jpg,image.41.jpg,image.46.jpg,image.47.jpg,image.42.jpg,image.40.jpg,image.45.jpg,image.43.PNG,image.49.jpg

In [ ]:
df.shape

(305, 12)

Translate phrases and target words

In [ ]:
translator.translate('durone arbusto').text

'Durone shrub'

In [ ]:
import numpy as np
import time

In [ ]:
def translate(s):
  try:
    time.sleep(1)
    return translator.translate(s).text
  except:
    print(s, '--- error')
    return np.nan

In [ ]:
df['target_eng'] = df['target_word'].apply(translate)
df['phrase_eng'] = df.apply(lambda row: 
                            translate(row['phrase']) if pd.isna(row['phrase_eng'])
                            else row['phrase_eng'],
                            axis=1)

In [ ]:
df.head()

,target_word,phrase,img_0,img_1,img_2,img_3,img_4,img_5,img_6,img_7,img_8,img_9,target_eng,phrase_eng
0,gomma,gomma per smacchiare,image.3.jpg,image.7.jpg,image.8.jpg,image.1.jpg,image.9.jpg,image.5.jpg,image.6.jpg,image.4.jpg,image.0.jpg,image.2.jpg,eraser,rubber to remove
1,asino,asino gioco di carte,image.18.jpg,image.17.jpg,image.11.jpg,image.10.jpg,image.15.jpg,image.16.png,image.14.jpg,image.12.jpg,image.13.jpg,image.19.jpg,donkey,donkey card game
2,colonna,colonna missione,image.22.jpg,image.24.jpg,image.28.jpg,image.27.jpg,image.25.jpg,image.26.jpg,image.20.jpg,image.21.jpg,image.23.jpg,image.29.jpg,colonna,mission column
3,box,box per infanti,image.33.jpg,image.32.jpg,image.37.jpg,image.38.jpg,image.35.jpg,image.34.jpg,image.31.jpg,image.39.jpg,image.30.jpg,image.36.jpg,box,Box for infants
4,bolla,bolla di misurazione,image.48.jpg,image.44.jpg,image.41.jpg,image.46.jpg,image.47.jpg,image.42.jpg,image.40.jpg,image.45.jpg,image.43.PNG,image.49.jpg,bubble,measurement bubble

In [ ]:
df[df['phrase_eng'].isna()]

Empty DataFrame
Columns: [target_word, phrase, img_0, img_1, img_2, img_3, img_4, img_5, img_6, img_7, img_8, img_9, target_eng, phrase_eng]
Index: []

In [ ]:
df.to_csv('test_it_translated.csv')